button {
    margin-left : 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:  600px;
    background-color: #87CEEB;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width : 200px;
  }
  
  li a:hover {
    background-color: white;
    color : #87CEEB;
  }

  .container{
    width: 600px;
  }
  .box{
    border: 2px solid black;
    width : 600px;
    height: 400px;
    background-color: bisque;
  }
