<br>
<br>
<div class = 'container'>
    <div>
      <h3>Log in as Admin</h3>
      <div>
        <input type="email" placeholder="Email" #userEmail required>
      </div>
      <br>
      <div>
        <input type="password" placeholder="Password" #userPassword required>
      </div>
      <br>
      <div>
        <button (click)="authAdmin(userEmail.value, userPassword.value)"> Login </button>
      </div>
      <div>
        <span class="or"><span class="orInner">Or</span></span>
      </div>
    </div>
    <div>
      <span>Not Admin?<span class="redirect" routerLink="/login">Log In as Consumer</span></span>
    </div>
  </div>